{% for item in cart.items %}
  <a href="{{ item.url }}">
    {{ item.image | image_url: width: 100 | image_tag }}
    <h2>{{ item.title }}</h2>
    <h2>{{ item.quantity }}</h2>
    <h2>{{ item.line_price | money }}</h2>
  </a>
  <hr>
{% endfor %}

{% schema %}
  {
    "name": "Cart Items",
    "templates": ["cart"],
    "settings": [],
    "blocks": [],
    "presets": [
      {
         "name": "Cart Items"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}